.containerContent {


width: 1000px !important;
}

.containerContainer {

    display: flex;
    justify-content: center;
    width: 100% !important;
    font-family: pixel2;
    margin-top: 2em;
}

.textDiv1Style {

    font-size: 25px;
    margin-top: 2em !important;
    color: white;
    text-shadow: 2px 2px 2px #00b3ff;
    margin-top: 1em;
    position: relative;
    left: 3em;
}

.textDiv2Style {

    color: #C89B3C;
        text-align: center;
        font-size: 30px;

}

.textDiv2WinStyle {

    color: green;
    text-align: center;
    font-size: 30px;
}

.textDiv2LossesStyle {

    color: red;
    text-align: center;
    font-size: 30px;
}

.textDiv2RateStyle {

    color: #005A82;
    text-align: center;
    font-size: 30px;
}

.tierStyle {

    width: 100px;

}

.containerDatos {

    padding: 20px;
    display: flex;
    gap: 3em;
    width: 100% !important;
}

@font-face {
    font-family: pixel;
    src: url('/fonts/fremont.ttf');
  }

  @font-face {
    font-family: pixel2;
    src: url('/fonts/pixel.TTF');
  }

  body {

    font-family: pixel;

  }

  .buttonIcon {

    width: 30px;
    margin-right: 3px;
    padding: 2px;
    border: 1px solid white;
border-radius: 80px;
transition: 1s;
  }

  .buttonIcon:hover {

    border: 1px solid transparent;
    transform: scale(1.5);
  }



